* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/img/mountains-wallpaper.jpg);
    background-attachment: fixed;
    z-index: 1;
    width: 100%;
}

.navbar-container {
    position: fixed;
    overflow: hidden;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: #072A6C;
    z-index: 2;
    height: 50px;
    width: 100%
    
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}


.menu-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: auto;
    margin-right: 50px;
    color: #800080;
    font-size: 20px;
    font-family: fantasy;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: center;
}

.header-name,
.header-description {
    z-index: 2;
    text-align: center;
}

.header-name {
    font-size: 60px;
}

.header-description {
    font-size: 25px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4 {
    display: flex;
    background-color: transparent;
    border-color: aqua;
    border: 1px solid #800080;
    border-style: none;
}

.contact-button {
    font-size: 16px;
    font-weight: bold;

    color: #800080;
    background-color: #072A6C;

}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #072A6C;
    color: #800080;
    height: 50px;
    font-size: 15px;
    padding: 0 20px;
    font-family: fantasy;
    font-weight: bold;
}

.copyright,
.social {
    display: flex;
    flex-direction: row;
    align-items: center;
}