* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "amsterdam";
    src: url("./assets/font/amsterdam-font/Amsterdam-ZVGqm.ttf") format("woff");
}

@font-face {
    font-family: "shortstack";
    src: url("./assets/font/Short_Stack/ShortStack-Regular.ttf") format("woff");
}

a {
    text-decoration: none;
}

.home-container {
    background-image: url(assets/img/Costruzioni.jpg);
    background-position: center;
    background-size: cover;
}

.name img {
    max-width: 700px;
}

#name > h1 {
    font-family: "shortstack", sans-serif;
    font-size: 100px;
    color: #FFFFFF;
    text-shadow: 4px 4px 6px #000000;
}

#name > h2 {
    font-family: "shortstack", sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 4px 4px 6px #000000;
}

article > .container-sm h1 {
    font-family: "amsterdam", courier;
    font-size: 35px;
    color: #0095FF;
    padding-top: 20px;
}

h2 {
    font-family: "amsterdam", sans-serif;
    color: #0095FF;
    font-size: 20px;
    padding: 30px 0;
}

.card { 
    max-width: 200px;
    margin: 0 auto;
    display: inline-block;
    border-radius: 7px;
    height: 60px;
    line-height: 50px;
    padding: 10px 30px;
    text-decoration: none;
    
    box-shadow: 0px 15px 10px -10px rgba( 0,0,0,0.6);
    transition: all .7s;
}
  
.col:hover .card {
    box-shadow: 0px 45px 20px -30px rgba( 0,0,0,0.2);
    transform: translateY(-20px);
}

#portfoliocard {
    max-width: 500px;
}

@media only screen and (min-width:600px) and (max-width: 900px) {
    .name img {
        max-width: 400px;
    }
    article > .container-sm h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 599px) {
    .name img {
        max-width: 200px;
    }
    #name > h1 {
        font-size: 60px;
    }
    #name > h2 {
        font-size: 20px;
    }
}