* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Fleure-De-Leah";
    src: url("./assets/font/Fleur_De_Leah/FleurDeLeah-Regular.ttf") format("woff");
}

@font-face {
    font-family: "Coming-Soon";
    src: url("./assets/font/Coming_Soon/ComingSoon-Regular.ttf") format("woff");
}

body {
    background-color: #FFFFF0;
    font-family: "Coming-Soon", sans-serif;
    font-size: 20px;
    color: #072A6C;
}

a {
    text-decoration: none;
}

a:link {
    color: #072A6C;
}

a:visited {
    color: #072A6C;
}

.linkedin-link img {
    width: 40px;
    filter: none;
}

.linkedin-link {
    background-color: #009CA6;
    padding: 10px;
    border-radius: 40%;
}
                                                       /* Navigation bar */
.navbar-container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #FFFFF0;
    border-top: 5px solid #009CA6;
    
}

.menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-family: "Coming-Soon", sans-serif;
    font-weight: bold;
}

.menu-container a:hover,
button a:hover {
    background-color: #009CA6;
    color: #FFFFF0;
    border-radius: 20px;
    transition: 0.2s;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    float: right;
    padding: 0px 20px;
    margin-right: 20px;
    background-color:#FFFFF0;
    border-radius: 20px;
}
                                                                 /* Home */
.home {
    display: block;
    background: url(assets/img/GHGardone_GardaLake.jpg) no-repeat scroll;
    background-position: 0px 50px;
    background-size: cover;
    height: 600px;
    font-family: sans-serif;  
    color: #072A6C;
    text-align: right;
    padding: 100px 60px 200px 60px;
    border-bottom: 8px double #009CA6;
}

.home h1 {
    align-self: center;
    font-family: "Fleur De Leah", cursive;
    font-size: 125px;
}

.home h2 {
    align-self: center;
    font-family: "Fleur De Leah", cursive;
    font-size: 60px;
}

.home p {
    font-size: 20px;
    margin-top: 30px;
    font-family: "Coming Soon", cursive;
    font-weight: bold;
}

.home-contact-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
}
                                             /* Arcticle */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: 100%;
    background-color: #FFFFF0;
    color: #072A6C;
    font-family: "Coming-Soon", sans-serif;
}

.section-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    background-color: #FFFFF0;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 2px solid #009CA6;
    border-radius: 50px;
}

section h1 {
    font-weight: bold;
    padding: 20px 30px;
    border-bottom: 1px solid #009CA6;
}

.section-text p {
    padding: 20px;
}

figure img {
    width: 200px;
    padding: 20px;
    border-radius: 50px;
}
                                                /* Footer */
footer {               
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    background-color: #072A6C;
    color: #FFFFF0;
    padding: 20px;
}

.contact-me {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    padding: 40px;
}

.copyright {
    padding: 10px;
}


