* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "amsterdam";
    src: url("./assets/font/amsterdam-font/Amsterdam-ZVGqm.ttf") format("woff");
}

a {
    text-decoration: none;
}

.home h1 {
    font-family: "amsterdam", cursive;
    font-size: 80px;
    color: white;
    text-shadow: 4px 4px 8px #0095FF;
    padding-top: 30px;
}

.home p {
    font-family: "amsterdam", cursive;
    font-size: 20px;
    color: white; 
}

article > .container-sm h1 {
    font-family: "amsterdam", cursive;
    font-size: 35px;
    color: #0095FF;
    padding-top: 20px;
}

.card { 
    max-width: 200px;
    margin: 0 auto;
    display: inline-block;
    border-radius: 7px;
    height: 60px;
    line-height: 50px;
    padding: 10px 30px;
    text-decoration: none;
    
    box-shadow: 0px 15px 10px -10px rgba( 0,0,0,0.6);
    transition: all .7s;
}
  
.col:hover .card {
    box-shadow: 0px 45px 20px -30px rgba( 0,0,0,0.2);
    transform: translateY(-20px);
}

@media only screen and (max-width: 600px) {
    home h1 {
        font-size: 40px;
    }
}