* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Fleure-De-Leah";
    src: url("./assets/font/Fleur_De_Leah/FleurDeLeah-Regular.ttf") format("woff");
}

@font-face {
    font-family: "Nunito-Sans";
    src: url("./assets/font/Nunito_Sans/NunitoSans-Light.ttf") format("woff");
}

body {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
    font-family: "Nunito-Sans", sans-serif;
    font-size: 20px;
    color: #072A6C;
}

a {
    text-decoration: none;
}

a:link {
    color: #072A6C;
}

a:visited {
    color: #072A6C;
}


header {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 100%;
}


                                                       /* Navigation bar */
.navbar-container {
    display: flex;
    display: -webkit-flex;

    position: fixed;
    background-color: transparent;
}

.menu-container {
    display: flex;
    display: -webkit-flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;

    margin-left: 15px;
    margin-top: 15px;
    background-color: #009CA6;
    padding: 10px 20px;
    border-radius: 15px;
    
    text-align: center;
    font-family: "Nunito-Sans", sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.line {
    width: 30px;
    height: 2px;
    background-color: #072A6C;
    margin: 6px 0;
  }

.menu {
    display: none;
}

.dropdown:hover .menu {
    display: flex;
    display: -webkit-flex;

    flex-direction: column;

    list-style-type: none;
    margin-left: 20px;
    padding: 80px 20px 10px 20px;

    position: absolute;
    top: -45%;
    left: -140%;
    border-radius: 10px;
    width: 200px;

    background-color: #009CA6;
    z-index: 1;
}

.menu li {
    list-style-type: none;
    border-bottom: 1px solid #FFFFFF;
    margin: 5px;
    text-align: center;
    padding: 10px;
  }
  
.menu li:last-of-type {
    border-bottom: none;
  }

.menu li:first-of-type {
    border-top: 1px solid #FFFFFF;
}

.dropdown {
    position: relative;
}

.menu-icon {
    z-index: 2;
    position: relative;
}


                                                                 /* Home */
.home-container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    

    background: url(assets/img/Mobile-GHGardone-GardaLake.jpg) no-repeat scroll center center;
    background-size: cover;
    text-shadow: 2px 2px 4px #009CA6;
}

.home {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;  
    color: #072A6C;
    margin-top: 10%;
}

.home h1 {
    align-self: center;
    font-family: "Fleur De Leah", cursive;
    font-size: 5em;
}

.home h2 {
    align-self: center;
    font-family: "Fleur De Leah", cursive;
    font-size: 2em;
}

.home p {
    font-size: 20px;
    margin-top: 30px;
    font-family: "Nunito-Sans", cursive;
    font-weight: bold;
}

.home-contact-container {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    margin-bottom: 2%;
}

.linkedin-link {
    margin: 0 auto;
}

.linkedin-link img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 40px;
    border: 4px solid #009CA6;
}


                                             /* Arcticle */
article {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: 100%;

    background-color: #FFFFFF;
    color: #072A6C;
    font-family: "Nunito-Sans", sans-serif;
}

.section-grid {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    width: 90%;
    background-color: #FFFFFF;
    padding: 20px;
}

section {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 15px;
    margin: 20px;
    border: 2px solid #009CA6;
    border-radius: 30px;
    box-shadow: 4px 4px 4px #00727a;
    list-style-type: none;
}

section h1 {
    font-weight: bold;
    padding: 20px 30px;
    border-bottom: 1px solid #009CA6;
}

.skills-list {
    padding: 20px;
    color: #009CA6;
    font-weight: bold;
}

.section-text p {
    padding: 10px;
}

.Portfolio {
    background-color: #009CA6;
    color: #FFFFFF;
}

.Portfolio h1 {
    border-bottom: 1px solid #FFFFFF;
}

figure img {
    justify-content: center;
    width: 250px;
    padding: 20px;
    border-radius:50%;
}


                                                /* Footer */
footer {    
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #072A6C;
    color: #FFFFFF;
}

.footer-container {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.form-container {
    margin: 0 auto;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 5px;
}

.form-row input,
.form-row textarea {
    background-color: #062257;
    font-family: "Nunito-Sans", cursive;
    color: #FFFFFF;
    font-size: 13px;
    width: 70%; 
    border: 2px solid #00727a;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #062257;
}

.form-row textarea {
    min-height: 100px;
    resize: none;
}

.form-row button {
    display: none;      /* Change this while the back-end is available... */
    margin: 0 auto;
    background-color: #009CA6;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    font-family: "Nunito-Sans", cursive;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.form-row p {          /* ....and this. */
    margin: 0 auto;
}

#last-linkedin {
    color: #FFFFFF;
}

#s2i:hover,
#last-linkedin:hover {
    color: #009CA6;
}

#s2i:active,
#last-linkedin:active {
    color: purple;
}

#s2i:visited,
#last-linkedin:visited {
    color: #00727a;
}

.copyright {
    font-size: 12px;
    margin-bottom: 20px;
}

                                            /* Desktop Style */
            
@media only screen and (min-width: 800px) {

    .navbar-container {
        display: flex;
        display: -webkit-flex;
        width: 100%;
        position: fixed;
        background-color: transparent;
        border-top: 5px solid #009CA6;
    }

    .home-container {
        background-image: url(assets/img/GHGardone_GardaLake.jpg) no-repeat scroll top right;
        padding: 50px 60px 100px 60px;
        border-bottom: 4px solid #009CA6;
    }

    article {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: 100%;
    }

    .section-grid {
        display: flex;
        display: -webkit-flex;
        flex: wrap;
        flex: -webkit-wrap;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    } 

    .footer-container {
        width: 90%;
    }
}

