* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Fleure-De-Leah";
    src: url("./assets/font/Fleur_De_Leah/FleurDeLeah-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Coming-Soon";
    src: url("./assets/font/Coming_Soon/ComingSoon-Regular.ttf") format("ttf");
}

body {
    background-color: #FFFFF0;
    scroll-behavior: smooth;
    font-family: "Coming-Soon", sans-serif;
    font-size: 20px;
    color: #072A6C;
}

a {
    text-decoration: none;
}

a:link {
    color: #072A6C;
}

a:visited {
    color: #072A6C;
}

a:hover {
    background-color: #009CA6;
    color: #FFFFF0;
    padding: 2px 10px 2px 10px;
    border-radius: 15px;
}

.navbar-container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #FFFFF0;
    border-top: 5px solid #009CA6;
    
}

.menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    float: right;
    padding: 5px 20px 5px 20px;
}



.home {
    display: block;
    height: 600px; 
    font-style: bold;
    font-family: sans-serif;  
    color: #072A6C;
    text-align: left;
    padding: 120px 60px 250px 60px;
}

.home h1 {
    align-self: center;
    font-family: 'Fleur De Leah', cursive;
    font-size: 150px;
}

.text-gradient-1,
.text-gradient-2 {
    color: #072A6C; /* For non-webkit browsers */
    background: linear-gradient(to bottom right, #072A6C, #009CA6, #FFFFF0);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.home h2 {
    align-self: center;
    font-family: 'Fleur De Leah', cursive;
    font-size: 70px;
}

.home p {
    font-size: 15px;
    margin-top: 60px;
    font-family: 'Coming Soon', cursive;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: 100%;
    background-color: #FFFFF0;
    color: #072A6C;
    
}

.section-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    background-color: #FFFFF0;
    border: 2px solid #009CA6;
    border-radius: 10px;
    
}



section {
    border-radius: 0%;
    margin-bottom: 50px;
    width: 100%;
    padding: 50;
    text-align: center;
}

section h1 {
    padding: 20px 30px;
    border-bottom: 1px solid #009CA6;
}

.section-text {
    padding: 20px 30px;
}

button {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFF0;
    background-color: #009CA6;
    border: 1px solid #009CA6;
    border-radius: 15px;
    padding: 25px 25px;
    margin-bottom: 20px;
}


