* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Fleure-De-Leah";
    src: url("./assets/font/Fleur_De_Leah/FleurDeLeah-Regular.ttf") format("woff");
}

@font-face {
    font-family: "Coming-Soon";
    src: url("./assets/font/Coming_Soon/ComingSoon-Regular.ttf") format("woff");
}

body {
    background-color: #FFFFF0;
   
    font-family: "Coming-Soon", sans-serif;
    font-size: 20px;
    color: #072A6C;
}

a {
    text-decoration: none;
}

a:link {
    color: #072A6C;
}

a:visited {
    color: #072A6C;
}

.linkedin-link img {
    width: 40px;
    filter: none;
}

.linkedin-link {
    background-color: #009CA6;
    padding: 10px;
    border-radius: 40%;
}

.navbar-container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #FFFFF0;
    border-top: 5px solid #009CA6;
    
}

.menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
    border-radius: 20px;
    font-family: "Coming-Soon", sans-serif;
}

.menu-container a:hover,
button a:hover {
    background-color: #009CA6;
    color: #FFFFF0;
    border-radius: 20px;
    transition: 0.2s;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    float: right;
    padding: 5px 20px 5px 20px;
}

.home {
    display: block;
    height: 600px; 
    font-style: bold;
    font-family: sans-serif;  
    color: #072A6C;
    text-align: left;
    padding: 100px 60px 200px 60px;
    border-bottom: 8px double #009CA6;
}

.home h1 {
    align-self: center;
    font-family: "Fleur De Leah", cursive;
    font-size: 125px;
}

.text-gradient-1,
.text-gradient-2 {
    color: #072A6C; 
    background: linear-gradient(to bottom right, #072A6C, #009CA6, #FFFFF0);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.home h2 {
    align-self: center;
    font-family: "Fleur De Leah", cursive;
    font-size: 60px;
}

.home p {
    font-size: 20px;
    margin-top: 30px;
    font-family: "Coming Soon", cursive;
    font-weight: bold;
}

.home-contact-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: 100%;
    background-color: #FFFFF0;
    color: #072A6C;
    font-family: "Coming-Soon", sans-serif;
}

.section-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    background-color: #FFFFF0;
    padding: 70px 0px;
}

.inline-link a:hover {
    background-color: #009CA6;
}

section {
    border-radius: 0%;
    margin-bottom: 50px;
    width: 100%;
    padding: 50;
    text-align: center;
}

section h1 {
    padding: 20px 30px;
    border-bottom: 1px solid #009CA6;
}

.section-text {
    padding: 20px 30px;
}

figure img {
    width: 200px;
    border-radius: 50px;
}

button {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFF0;
    background-color: #009CA6;
    border: 1px solid #009CA6;
    border-radius: 15px;
    padding: 20px 20px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    background-color: #072A6C;
    color: #FFFFF0;
    padding: 20px;
}

.contact-me {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

.copyright {
    padding: 10px;
}


