* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "amsterdam";
    src: url("./assets/font/amsterdam-font/Amsterdam-ZVGqm.ttf") format("woff");
}

a {
    text-decoration: none;
}

.home h1 {
    font-family: "amsterdam", cursive;
    font-size: 60px;
    color: white;
    padding-top: 30px;
}

.home h2 {
    font-family: "amsterdam", cursive;
    font-size: 20px;
    color: white; 
}

article > .container-sm h1 {
    font-family: "amsterdam", cursive;
    font-size: 30px;
    color: #0095FF;
}
